<section ng-controller="ArticlesController" ng-init="find()">
  <div class="page-header">
    <h1>Articles</h1>
  </div>

  <div class="row">
    <div class="text-center"> Companu: {{company}} </div>
    <div class="text-center"> Country: {{country}} </div>
    <div class="text-center"> Fake data: {{fakeData}} </div>
    <br>

    <div class="row">
      <button class="col-md-4 col-md-offset-4 btn btn-primary" type="button" ng-click="fakeAction()"> Fake action </button>
    </div>

  </div>

  <div class="list-group">
    <a ng-repeat="article in articles" ui-sref="articles.view({articleId: article._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="article.created | date:'mediumDate'"></span>
        by
        <span ng-bind="article.user.displayName"></span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="article.title"></h4>
      <p class="list-group-item-text" ng-bind="article.content"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="articles.$resolved && !articles.length">
    No articles yet, why don't you <a ui-sref="articles.create">create one</a>?
  </div>
</section>
