<section>
  <div class="page-header">
    <h1>{{vm.sm._id ? 'Edit Sm' : 'New Sm'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.smForm" class="form-horizontal" ng-submit="vm.save(vm.form.smForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Number</label>
          <input name="number" type="text" ng-model="vm.sm.number" id="number" class="form-control" placeholder="Number" required>
          <div ng-messages="vm.form.smForm.number.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Receiver number is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Message</label>
          <input name="message" type="text" ng-model="vm.sm.message" id="message" class="form-control" placeholder="Message" required>
          <div ng-messages="vm.form.smForm.message.$error" role="alert">
            <p class="help-block error-text" ng-message="required">The message is required.</p>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.sm._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
