<section>
  <div class="page-header">
    <h1>Sms</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="sm in vm.sms"
       ui-sref="sms.view({ smId: sm._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="sm.created | date:'mediumDate'"></span>
        by
        <span ng-if="sm.user" ng-bind="sm.user.displayName"></span>
        <span ng-if="!sm.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="sm.user.displayName"></h4>
      <h4 class="list-group-item-heading" ng-bind="sm.number"></h4>
      <h4 class="list-group-item-heading" ng-bind="sm.message"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.sms.$resolved && !vm.sms.length">
    No Sms yet, why don't you <a ui-sref="sms.create">create one</a>?
  </div>
</section>
