<section>
  <div class="page-header">
    <h1 ng-bind="vm.sm.name"></h1>
  </div>
  <div class="pull-right"
       ng-show="vm.sm.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="sms.edit({ smId: vm.sm._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.sm.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.sm.user"
            ng-bind="vm.sm.user.displayName"></span>
      <span ng-if="!vm.sm.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.sm.user.displayName"></p>
  <p class="lead" ng-bind="vm.sm.number"></p>
  <p class="lead" ng-bind="vm.sm.message"></p>
</section>
